<html>

<head>
    <title>Agenda</title>
    <!-- Importação do Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Importação do bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>
    <!-- Importação propria -->
    <link rel="stylesheet" type="text/css" href="/css/style_agenda.css">
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/agenda_imagem.png" alt="Smiley face" height="42" width="42">
            Agenda de Contatos
        </a>
    </nav>

    <div class="container">

        <form action="/registrarContato" method="post">
            <div class="row camposcadastro">
                <div class="col-3">
                    <label>Nome:</label>
                    <input type="text" class="form-control" name="nome" />

                    <label>Telefone:</label>
                    <input type="text" class="form-control" name="telefone" />

                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" />

                    <label>WhatsApp? </label>
                    <input type="checkbox" class="whatsapp" name="whatsapp" />

                    <button type="submit" class="btn btn-primary form-control">Salvar</button>
                </div>
            </div>
        </form>


        <div class="row">
            <table class="table table-striped col-8">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>José</td>
                        <td>(11) 96545-2341</td>
                        <td>josesilva@hotmail.com</td>
                        <td><a href="#"><img src="/img/editar.png" width="25" height="25"></a></td>
                        <td><a href="#"><img src="/img/excluir.png" width="25" height="25"></a></td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                        <td>(31) 96652-2345</td>
                        <td>mmaaria@uol.com.br</td>
                        <td><a href="#"><img src="/img/editar.png" width="25" height="25"></a></td>
                        <td><a href="#"><img src="/img/excluir.png" width="25" height="25"></a></td>
                    </tr>
                    <tr>
                        <td>Antonio</td>
                        <td>(13) 97645-2341</td>
                        <td>tonyuo@terra.com.br</td>
                        <td><a href="#"><img src="/img/editar.png" width="25" height="25"></a></td>
                        <td><a href="#"><img src="/img/excluir.png" width="25" height="25"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>