<html>

<head>
    <title>Registrar Usuário</title>
    <!-- Importação do Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Importação do bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>
    <!-- Importação propria -->
    <link rel="stylesheet" type="text/css" href="/css/style_registrar.css">
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/agenda_imagem.png" alt="Smiley face" height="42" width="42">
            Agenda de Contatos - Registro de usuário
        </a>
    </nav>

    <div class="row">
        <form class="px-4 py-3 formularioRegistro col-3" action="/registrarUsuario" method="post">


            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Ex: José Silva Bueno">
            </div>

            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Ex: (11) 96454-6596">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Ex: email@exemplo.com">
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha">
            </div>

            <div class="form-group">
                <label>Confirmação de senha</label>
                <input type="password" class="form-control" name="confirmacaosenha" id="confirmacaosenha" placeholder="Confirmação Senha">
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" class="btn btn-primary btnVoltar" onclick="window.location.href='/'">Voltar</button>

        </form>
    </div>

</body>

</html>